<!-- Navbar -->
<nav class="w-100" style="background: var(--primary-color); min-height: 48px;">
    <div class="container d-flex align-items-center justify-content-between py-2">
        <ul class="nav nav-pills gap-2 mb-0">
            <li class="nav-item">
                <a href="javascript:void(0);" onclick="navigateTo('/index.html')" class="nav-link" id="nav-inicio" style="color: #fff; font-size: 1.7rem;">Inicio</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" onclick="navigateTo('/frontend/views/dulceria.html')" class="nav-link" id="nav-dulceria" style="color: #fff; font-size: 1.7rem;">Dulcería</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" onclick="navigateTo('/frontend/views/galleteria.html')" class="nav-link" id="nav-galleteria" style="color: #fff; font-size: 1.7rem;">Galletería</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" onclick="navigateTo('/frontend/views/chocolates.html')" class="nav-link" id="nav-chocolates" style="color: #fff; font-size: 1.7rem;">Chocolates</a>
            </li>
            <li class="nav-item">
                <a href="javascript:void(0);" onclick="navigateTo('/frontend/views/contacto.html')" class="nav-link" id="nav-contacto" style="color: #fff; font-size: 1.7rem;">Contacto</a>
            </li>
        </ul>
        <form class="d-flex" style="max-width: 240px;">
            <input type="search" placeholder="Buscar..." class="form-control" style="font-size: 1.75rem;">
            <button class="btn btn-light ms-2" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
    </div>
</nav>

